#home {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}

.landing-text {
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.landing-text h1 {
  letter-spacing: 15;
}

.carousel {
  background-color: rgb(48, 48, 48, 0.8);
}

@media (max-width: 991px) {
  .carousel {
    font-size: 2vw;
  }
  .carousel > h3 {
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .carousel {
    font-size: 1vw;
  }
  .carousel > h3 {
    font-size: 2vw;
  }
}
